@import url("checkboxToggle.css");

*{
	/*padding: 0;*/
	margin: 0;
}

.DataV + A, .DataV + A:visited {
    color: cadetblue; /* Цвет ссылок */
	text-underline-position: auto;
    text-decoration-thickness: inherit;
}

A, A:visited {
    color: cadetblue; /* Цвет ссылок */
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-thickness: from-font;
	padding-bottom: 5px;
}
A:active {
    color: brown; /* Цвет активных ссылок */
}

p{
    padding-top: 1px;
    padding-bottom: 1.5px;
}

.noselect, .graphics {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.SendCmdF{
    padding-left: 10px;
}

.SendCmdButton{
	margin-bottom: 5px;
	border-radius: 4px;
    border-style: inherit;
    color: brown;
    width: 50%;
    height: 20px;
}

.DataV > p{
    padding-top: 3.5px;
}

#m_SendCmd{
    padding-bottom: 10px;
    background-color: #1a2635;
    width: 60%;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #0066FF;
    border-radius: 20px 5px;
    text-align: center;
    background-color: #33ADFF;
    width: 100%;
}
#navbar li { display: inline; }
#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#navbar a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
}
	  
.tooltip span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: absolute;
    left: 30%;
    background: #283a52;
    box-shadow: -2px 2px 10px -1px #333; 
    border-radius: 5px;	
    padding-top: 5px;
}
 
.tooltip:hover span{
	visibility: visible;
}

.menu{
	width: 100%;
	/*height: 7.5%;*/
	height: max-content;
	top: 0;
	position: absolute;
	background: rgba(15, 15, 15, 1);
	border-bottom: 0.01em red solid;
	align: center;
	text-align: center;
}

.menu_items{
	display: inline-table;
	font-size: larger;
	padding-left: 5%;
	margin-top: 0.3%;
}

.menu_items a{
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.menu_items a:hover{
	color: rgba(255, 255, 100, 1);
	
}
.body_alfa
{
	background: rgba(12, 22, 33, 1);
	position: fixed;
	width: 100%;
	height: 100%;
}

.body{
	background: rgba(12, 22, 33, 1);
	width: 100%;
	height: 100%;
	position: absolute;
}

.title_menu{
	position: relative;
	padding-top: 5%;
	color: white;
	padding-left: 10%;
	font-size: 200%;
    text-align: center;
    top: 5px;
    color: red;
}
.com{
	text-align: center;
}
.components_alfa{
	display: inline-table;
	position: relative;
}
.components{
	background: rgba(44, 63, 88, .9);
	width: 40%;
	height: 20%;
	margin: 1%;
	box-sizing: border-box;
	text-align: center;
	display: inline-table;
}

.components_title{
	color: white;
	text-align: left;
	padding: 2%;
	font-size: larger;
	width: 75%;
	height: 10%;
	float: left;
}

.components_text{
	font-size: 1.2em;
	padding: 2%;
	text-align: justify;
	width: 75%;
	float: left;
	height: 90%;
	color: rgb(125, 124, 124);
}

.components_button{
	width: 20%;
	height: 100%;
	right: 0;
	position: absolute;
	background-image: url(button.png);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

.components_button:hover {
	background-image: url(button_on.png);
	background-size: 80%;
	transition: .1s ease;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

dialog{
    border-radius: 9px;
	border-color: cadetblue;
	box-shadow: 8px 7px 20px 0px rgb(9 63 255 / 78%);
}

.logcell{
	padding-left: 20px;
	padding-top: 3px;
	background: rgb(44 63 88 / 35%);
}

.roomLink{
	font-size: 12pt; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.selButton{
	background-color: bisque;
    border-color: gray;
    border-style: dotted;
}
.linkMain{
	font-size: 12pt; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.roomspan{
	font-size: 12pt; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.temphis{
	padding-left: 5px;
	#box-shadow: inset 10px 4px 20px 1px #1ea52e;
	color: aquamarine;
	font-size: 12pt; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.temphis:hover{
	#box-shadow: inset 1px 4px 20px 1px #1ea52e;
	color: chartreuse;
}
.graphics{
	border-radius: 5px;
	border-color: rgb(39 184 220);
	box-shadow: 3px 3px 15px rgb(39 184 220 / 65%);
	background-color: gray;
}

.settingValue{
	color: black;
	width: 350px;
	height: 18px;
	border-radius: 5px;
}

.tablePage{
	width: 100%; 
	text-align: center; 
	display: inline-block; 
	table-layout: fixed;
}

.calendarInput{
	width: 200px;
}

.calendarPoint{
	cursor: grab;
}

tr.isev > * > input:not([type=checkbox], [type=button]):enabled, tr.isev > * > textarea:enabled, tr.isev > * > select:enabled, tr.isev > * > button:enabled{
	background-color: #cecece;	
}

td.scenesT > input:not([type=checkbox], [type=button]), td.scenesT > textarea, td.scenesT > select, td.scenesT > button{
	border-radius: 3px;
    border-color: #0000ff75;
}

td.scenesT > textarea:disabled, td.scenesT > select:disabled{
	background-color: #435371;
}

td.scenesT > input:not([type=checkbox], [type=button]), td.scenesT > select, td.scenesT > button{
	height: 35px;
}
td.scenesT > input[type=checkbox]{
	height: 15px;
}
td.scenesT > input[type=button], .sb{
	border-radius: 6px;
    border-color: transparent;
    height: 26px;
	background-color: aliceblue;
}

td.scenesT > input[type=button]:hover, .sb:hover{
	background-color: #80c5f3;
	border-color: transparent;
}

td.scenesT > input[type=button]:active, .sb:active{
	background-color: #ff8c8c;
	border-color: transparent;
}

td.scenesT > textarea{
	height: 35px;
	min-height: 35px;
	max-width: 400px;
	max-height: 400px;
	/*width: 280px;*/
	display: list-item;
}

td.scenesT > .da, td.scenesT > .nt{
	width: 170px;
	min-width: 170px;
}
td.scenesT > .na{
	width: 280px;
	min-width: 280px;
}
td.scenesT{
	padding-left: 4px;
}

tr.scenesH > td > *{
	text-decoration: underline;
	/* text-underline-offset: 3.6px; */
	text-underline-position: under;
	padding-top: 10px;
	padding-bottom: 10px;
}

.moduleSetting > input[type=button], .moduleSetting > button{
	border-color: #48bce8;
}

.moduleSettingValue{
	border-radius: 3px;
    border-color: #0000ff75;
	height: 25px;
}

.moduleSettingName{
	font-weight: 600;
    font-family: monospace;
	font-size: 14px;
}